
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .selector-for-some-widget {
        box-sizing: content-box;
    }
    body{
        font-family: Poppins, Arial;
        overflow: scroll;
        overflow-x: hidden;
        scroll-behavior: smooth;
        transition: all 3s;
        scroll-snap-type: mandatory;
        
    }

    main{
        min-width: 100vw;
        background: rgb(42,45,46);
        background: linear-gradient(0deg, rgba(42,45,46,1) 12%, rgba(78,87,94,1) 100%);

    }

    .navbar{
        background: rgba(78,87,94,1);
        top: 0;
        padding: 0;
    }
    .navbar .navbar-brand h4{
        font-size: 15px;
        font-weight: 700;
        color: #ffffff;
        transition: ease-in-out .3s;
    }

    .navbar-nav a{
        border-radius: 10px;
        margin-left: 15px;
        text-align: center;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 13px;
        color: white;
        transition: all ease-in-out .3s;
        text-wrap: nowrap;
    }

    .navbar-nav a:hover,
    .navbar-nav a:active{
        text-shadow: 2px 3px 3px #222222;

        letter-spacing: .5px;
        font-size: 14.5px;
        text-wrap: nowrap;
        margin-top: -3px;
        color: #8eb4ce;
    }

    .logo{
        display: flex;
    }
    .navbar-brand{
        display: flex;
        gap: 8%;
        align-items: center;
        padding-left: 10px;
    }

    .navbar-brand .bi{
        color: white;
        transition: ease-in-out .1s;
    }

    .navbar-brand:active .bi,
    .navbar-brand:hover .bi {
        transform: rotate(180deg);
        color: lightblue;
    }

    .navbar-brand:active h4,
    .navbar-brand:hover h4{
        color: #8eb4ce;
        letter-spacing: 5px;
        
    }

    .MainPage{
        background: rgb(42,45,46);
        background: linear-gradient(0deg, rgba(42,45,46,1) 12%, rgba(78,87,94,1) 100%);
    }
        

    .MainPage section{
        min-height: 100vh;
        width: 100%;
        
    }

    #About-Page{
        display: flex;
        flex-direction: column;
        padding-top: 9vh;
        min-height: 100vh;
        gap: 26vh;
    }
    .head{
        position: relative;
    }
    .head h1{
        font-size: 150px;
        font-weight: 900;
        color: #ffffff;
        text-transform: uppercase;
        margin-left: 1%;
    }
    .head p{
        position: absolute;
        left: 30%;
        color: white;
        font-size: 15px;
        font-weight: 300;
        width: 63%;
    }
    .card-box{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        
    }

    .card-box .cards{
        width: 24.4vw;
        min-height: 35vh;
        background: #ffffff;
        padding: 5px;
    }

    .cards:nth-child(2){
        background-color: #948979 ;
    }
    .cards:nth-child(3){
        background-color: #3C5B6F ;
    }
    .cards:nth-child(4){
        background-color: #DFD0B8;
        margin-right: .8%;
    }

    .cards .card-header{
        font-size: 25px;
        color: #153448;
        font-weight: 700;
        text-align: center;
        margin-bottom: 2%;
        text-transform: uppercase;
    }
    .cards:nth-child(3) .card-header{
        filter: invert();
    }

    .cards:nth-child(3) .card-body{
        filter: invert();
    }

    .cards .card-body{
        color: #153448;
    }

    .cards .btn{
        margin: 4% 0 0 4%;
        background: #8eb4ce;
        outline: none;
    }
    .cards .btn:hover{
        background: lightblue;
    }


    #Profile{
        align-items: center;
        gap: 10vw;
        display: flex;
        flex-direction: row;
        min-height: 100vh;
        height: 100vh;
        
    }

    #Profile h1{
        color: #8eb4ce;
        text-shadow: 3px 4px 4px #191f3191;
        font-size: 70px;
        text-transform: uppercase;
        font-weight: 800;
        letter-spacing: -10px;
        writing-mode: vertical-rl;
        text-orientation: upright;
        margin: 3vh 5vw 0 0;
    }

    .Profile img{
        width: 80%;
        height: 100%;
        opacity: .85;
        object-fit: cover;
        backdrop-filter: blur( 10px );
        -webkit-backdrop-filter: blur( 10px );
        box-shadow: 0 10px 20px 10px rgba(39, 39, 39, 0.726);
    }
    #Profile .Profile{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 80vw;
        height: 88vh;
        position: relative;
        margin-top: 10vh;
    }
    .Profile .resume{
        width: 60%;
        z-index: 10;
        bottom: 7%;
        left: 13%;
        text-wrap: wrap;
        position: absolute;
        
    }
    .resume h2{
        font-weight: 650;
        color: #ffffff;
        text-shadow: 2px 2px 2px #00000052;
        text-transform: capitalize;
        font-size: 35px;
        
    }

    .resume .title{
        color: #8eb4ce;
        text-wrap: wrap;
        font-size: 35px;
    }
    .Profile .skill{
        font-size: 13px;
        background-color: rgba(17, 17, 19, 0.5);
        height: 30px;
        color: rgba(255, 255, 255, 0.705);
        width: fit-content;
        padding: 4px 7px 0 7px;
        letter-spacing: 3px;
    }
    .Profile .skills{
        font-size: 13px;
        background-color: rgba(17, 17, 19, 0.5);
        height: 30px;
        color: rgba(255, 255, 255, 0.692);
        width: fit-content;
        padding: 4px 7px 0 7px;
        letter-spacing: 3px;
    }

    .Profile .btns{
        font-size: 13px;
        background: #8eb4ce;
        font-weight: 600;
        color: white;
        outline: none;
        border: none;
        padding: 5px 3px;
        letter-spacing: 3px;
        margin-top: 10px;
        box-shadow: 1px 3px 3px 0 rgba(0, 0, 0, 0.514);
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
        width: fit-content;
        text-decoration: none;
    }

    .btns i{
        padding-top: 3px;
    }
    #Gallery{
        margin-top: 15vh;
        padding-top: 2vh;
    }

    #Gallery h2{
        text-align: center;
        color: white;
        text-shadow: 3px 4px 4px #191f3191;
        font-size: 70px;
        text-transform: uppercase;
        font-weight: 800;
        margin: 10vh 15px 0 15px;
    }
    
    .gallery{
        margin: 30px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
        grid-gap: 0.5rem;
        grid-auto-flow: dense;
    }
    
    .gallery .image{
        min-height: 150px;
        background: #afafaf;
    }
    
    .gallery .image img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: ease-in-out .15s;
        background: #afafaf;
    }
    .gallery .image img:hover,
    .gallery .image img:active{
        scale: 2;
    }

    #My-Insights{
        
        display: flex;
        flex-direction: column;
        padding-top: 5%;
        align-items: center;
    }
    #My-Insights h1{
        font-size: 70px;
        font-weight: 800;
        color: #fff;
    }

    .lastOne{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .body{
        color: #fff;
        margin-top: 3%;
        width: 65%;
        text-align: center;
        font-size: 20px;
    }

    .lastOne h3{
        color: #8eb4ce;
        font-size: 25px;
        font-weight: 700;
        letter-spacing: 6px;
    }

    .footer{    
        z-index: 300;
        position: sticky;
        bottom: 3%;
        margin-left: 94vw;
        border-radius: 50%;
    }

    .footer a .bi{
        font-size: 2.5rem;
        color: #ffffff;
        
    }

    /* width */
::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(42,45,46);
    background: linear-gradient(0deg, rgb(74, 77, 80) 1%, rgb(51, 55, 56) 80%);

  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
   background-color: #8eb4ce;
    border-radius: 50px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #beddf1;
  }

    @media only screen and (max-width: 800px){
        #About-Page{
            gap: 5vh;
        }
        .card-box .cards{
            width: 50%;
        }
        .cards .card-header{
            text-wrap: nowrap;
            letter-spacing: normal;
        } 
        .head{
            margin-left: 10px;
        }
        .head h1{
            font-size: 70px;
        }
        .head p{
            position:static;
            font-size: 15px;
            width: 90%;
        }
        #Profile{
            flex-direction: column;
        }
        #Profile h1{
            
            font-size: 70px;
            letter-spacing: 14px;
            writing-mode: horizontal-tb;
            text-orientation: upright;
            margin: -7vh 0 5vh 0;
        }
        #Profile .Profile{
            width: 100vw;
            margin-bottom: 30vh;
            background: #000;
        }
        .Profile img{
            width: 100vw;
        }
        .col{
            height: max-content;
        }
        #Profile .resume {
           left: 5%;
        }
        .footer{
            bottom: 5%;
        }
    }

    @media only screen and (max-width: 400px){
        .card-box .cards{
            width: 100%;
        }
        .cards .btn{
            margin-bottom: 7%;
        }
        #Profile h1{
            font-size: 50px;
            margin-top: -3vh;
            letter-spacing: 14px;
        }
        #Gallery h2{
            font-size: 60;
        }
    }






